{{#> NotFound }}
  <form class="not-found-page">
    <div class="not-found-page__content">
      {{> PageTitle class="not-found-page__title" title="404" }}
      {{> PageTitle title="Не туда попали"}}
      {{> Link text="Вернуться к чатам" page="login"}}
    </div>
  </form>

{{/ NotFound }}