{{#> ServerError }}
  <form class="server-error-page">
    <div class="server-error__content">
      {{> PageTitle class="server-error__title" title="500" }}
      {{> PageTitle title="Мы уже фиксим"}}
      {{> Link text="Вернуться к чатам" page="login"}}
    </div>
  </form>

{{/ ServerError }}