<div class="input-field{{#if className}} {{ className }}{{/if}}">
  {{> Input className="input-field__element" type=type name=name }}
  {{> IncorrectNotification className="incorrect-notification" errorId=errorId errorText=errorText}}
</div>
