<div class="profile-photo">
    <div class="profile-photo__image-container">
        <img class="profile-photo__image-logo" src="{{src}}" alt="{{alt}}">
    </div>
    <span class="profile-photo__title"> {{ photoTitle }} </span>
</div>